*{
    margin: 0%;
    padding: 0%;
}

nav{
    background: rgb(231, 229, 229);
}
nav ul{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 2px;
    list-style: none;
}
nav ul li{
    margin: 0 20px;
}
.nav-link{
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav-link:hover{
    color: #f05136;
}
nav ul li{
    margin: 0 20px;
}#teams{
    background:  #9013fe;
    color:white;
    height: 450px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 10vw;
    height: 10vw;
}
header div p{
    font-size: 2.5em;
    font-weight: 200;
}


#gameplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#teams div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin: top left bottom right */
    margin:10px 0;
    width: 100%;
}

#teams div article{
    background: white;
    color:black;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
}
.container-fix{
    
    width: 94%;
    height: 90vh;
    margin: 1%;
    align-items: center;
    /* background-color: lightgray; */
    padding: 1%;

}
 .qualifier{
    width: 25%;
    height: 70vh;
    padding: 1%;
    margin: 1%;
    border: 2px solid rgb(247, 245, 245);
    border-radius: 5px;

}
.semiFinal{
    width: 25%;
    height: 35vh;
    padding: 1%;
    margin: 1%;
    border: 2px solid rgb(248, 245, 245);
    border-radius: 5px;
}

.final{
    width: 25%;
    height: 17vh;
    padding: 1%;
    margin: 1%;
    border: 2px solid rgb(248, 250, 249);
    border-radius: 5px;
}
.set{
    width: 95%;
    height: 15vh;
    padding: 1%;
    margin: 1%;
    border: 1.5px solid orangered;
    border-radius: 5px;

}
.card1{
    width: 40%;
    height: 13vh;
    padding: 1%;
    margin: 1%;
    /* align-items: center;
    align-content: center; */
    background-color: white;
}
h3{
    margin: 5vh auto auto auto;
    border: 1px solid orangered;
    border-radius: 70px;
    background-color: orangered;
    color: white;
    transform: scale(1.00);
   box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
#result{
  border:none;
  background-color: rgb(7, 131, 13);
}

.flex{
    display: flex;
    /* align-content: center; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.RM{
    width: 1cm;
    align-content: center;
    margin: 18%;

}
.BL{
    width: 1cm;
    margin: 28%;
}
.RB{
    width: 1cm;
    margin: 30%;
}
.VR{
    width: 1cm;
    margin: 20%;
    margin-left: 20%;
}
.SL{
    width: 1cm;
    margin: 25%;
}
.GD{
    width: 1cm;
    margin: 25%;
}
.HS{
    width: 1cm;
    margin: 25%;
}
.AC{
    width: 1cm;
    margin: 30%;

}
footer{
    text-align: center;
    background-color: orangered;
}
/* color{
    background-color: ;
    color: ;
    background
} */


